#home.sheet-2{
    width: 100%;
    margin: 50px 20px;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 25px;
    place-items: center;
}

.home-item{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to right, #1B4376 , #163552);
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000;
}